$header-padding: 40px;
$top-margin:37px;
$text_color: #fff;
$text_color_hover: #c7b299;

.header{
    background-image: url(../img/mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: $MAX_WIDTH 0 0 0 rgba(0, 0, 0, 0.33) inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: $MAX_WIDTH;
    min-width: $MIN_WIDTH;
    padding: $header-padding 0 0 0;
}

.logo {
    margin: 0 220px 0 0;
    &-svg{
        width: 64px;
        height: 56px;
    }
    &-txt{
        color: $text_color;
        font-family: $raleway_regular;
        font-size: 34px;
        font-weight: 400;
        letter-spacing: -1.36px;
    }
}

.nav{
    margin: $top-margin 0 0 0;
    &-list{
        list-style-type: none;
        display: flex;
        align-items: top;
        &__element{
            color: $text_color;
            padding: 3px 15px;
            cursor: pointer;
            font-family: $montserrat-light;
            font-size: 14px;
            font-weight: 300;
            &:hover{
                color: $text_color_hover;
            }
        }
    }
}

.basket{
    width: 18px;
    height: 24px;
    background-image: url(../img/basket.png);
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin: $top-margin 0 0 60px;
}

.search{
    width: 24px;
    height: 24px;
    background-color: inherit;
    background-image: url(../img/search.png);
    border: none;
    cursor: pointer;
    margin: $top-margin 0 0 25px;
}

.title-small{
    color: $text_color;
    font-family: $raleway_medium;
    font-size: 36px;
}

.title-large{
    color: $text_color;
    font-family: $raleway_regular;
    font-size: 52px;
    font-weight: 900;
}

.header-content{
    width: 100%;
    padding: 280px 0 0 0;
    &-title{
        display: block;
        width: 100%;
        text-align: center;
    }
    &-txt{

    }
    &-button{
        &-txt{
            text-transform: uppercase;
        }
    }
}
