@mixin gradient ($first_color:#211b19,$second_color:#4e3427) {
    background: $first_color; 
    background: -moz-linear-gradient(left, $first_color 0%, $second_color 100%); 
    background: -webkit-linear-gradient(left, $first_color 0%,$second_color 100%); 
    background: linear-gradient(to right, $first_color 0%,$second_color 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$first_color', endColorstr='$second_color',GradientType=1 ); 
}