@font-face {
  src: url(../font/raleway-regular.ttf);
  font-family: raleway-regular;
}

@font-face {
  src: url(../font/raleway-medium.ttf);
  font-family: raleway-medium;
}

@font-face {
  src: url(../font/montserrat-light.ttf);
  font-family: montserrat-light;
}

body, ul, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../img/mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 1920px 0 0 0 rgba(0, 0, 0, 0.5) inset;
          box-shadow: 1920px 0 0 0 rgba(0, 0, 0, 0.5) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 40px 0 0 0;
  position: relative;
}

.logo {
  margin: 0 220px 0 0;
}

.logo-svg {
  width: 64px;
  height: 56px;
}

.logo-txt {
  color: #fff;
  font-family: raleway-regular, Arial, Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
}

.nav {
  margin: 37px 0 0 0;
}

.nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.nav-list__element {
  color: #fff;
  padding: 3px 15px;
  cursor: pointer;
  font-family: montserrat-light, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.nav-list__element:hover {
  color: #c7b299;
}

.basket {
  width: 18px;
  height: 24px;
  background-image: url(../img/basket.png);
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: 37px 0 0 60px;
}

.search {
  width: 24px;
  height: 24px;
  background-color: inherit;
  background-image: url(../img/search.png);
  border: none;
  cursor: pointer;
  margin: 37px 0 0 25px;
}

.header-button-left, .header-button-right {
  background-color: transparent;
  background-image: url(../img/arrow.png);
  border: none;
  cursor: pointer;
  position: absolute;
  height: 73px;
  top: 480px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  width: 40px;
}

.header-button-left:focus, .header-button-right:focus {
  outline: none;
}

.header-button-left {
  left: 150px;
}

.header-button-left:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-button-left:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-button-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 150px;
}

.header-button-right:hover {
  -webkit-transform: rotate(180deg) scale(1.2);
          transform: rotate(180deg) scale(1.2);
}

.header-button-right:active {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.title-small {
  color: #fff;
  font-family: raleway-medium, Arial, Helvetica, sans-serif;
  font-size: 36px;
}

.title-large {
  color: #fff;
  font-family: raleway-regular, Arial, Helvetica, sans-serif;
  font-size: 52px;
  font-weight: 900;
  margin: 20px 0;
}

.header-content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 280px 0 0 0;
}

.header-content-title {
  display: block;
  width: 100%;
  text-align: center;
}

.header-content-txt {
  color: #fff;
  font-family: montserrat-light, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 570px;
}

.header-content-button {
  background-color: #998675;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 15px 35px;
  margin: 50px auto 0 auto;
  text-align: center;
  -webkit-box-shadow: 0 3px 0 #736357;
          box-shadow: 0 3px 0 #736357;
  width: 170px;
}

.header-content-button-txt {
  color: #fff;
  font-family: raleway-regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 23px;
  text-transform: uppercase;
}

.header-content-button:hover {
  background-color: #736357;
}

.header-content-button:active {
  background-color: #998675;
}

.points-row {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 325px auto 40px auto;
}

.points-row .points {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 10px;
  margin: 5px;
  width: 10px;
}

.points-row .points:hover {
  background-color: inherit;
  border: 2px solid white;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8c8c8c;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 15px;
  width: 270px;
}

.service-item:after {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom: 2px solid #f1eee9;
  content: "";
  display: inline-block;
  width: 70px;
}

.service-item:hover:after {
  border-bottom: 2px solid #c7b299;
}

.service-item:hover .service-item-title {
  color: #c7b299;
}

.service-item-title {
  font-family: raleway-regular, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  margin: 30px 0 10px 0;
  width: 100%;
}

.service-item-txt {
  font-family: montserrat-light, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 30px 0;
  text-align: center;
}

.ideals {
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.ideals-title {
  color: #555;
  font-family: raleway-regular, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  margin: 80px 0 30px 0;
  width: 100%;
}

.ideals-txt {
  color: #8c8c8c;
  font-family: montserrat-light, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 35px 0;
  text-align: center;
  width: 760px;
}

.ideals-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 1230px;
}

.ideals-example-image {
  width: 770px;
}

.ideals-example .ideal-1 {
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.ideals-example .ideal-2 {
  margin: 0 0 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}

.ideals-example .ideal-3 {
  margin: 0 0 0 0;
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

body {
  max-width: 1920px;
  min-width: 1280px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */