@import "_constant";
@import "_fonts";
@import "_reset";
@import "_mixin";
@import "_header";
@import "_service";
@import "_ideals";
@import "_aside";
@import "_latest";

body{
    max-width: $MAX_WIDTH;
    min-width: $MIN_WIDTH;
    margin: 0 auto;
}